body{
  background-color: rgb(82, 85, 107);
  color: antiquewhite;
  height: 5000px;
  margin: 0;
}
.mainBackgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  position: fixed;
}
header:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.35s ease-in-out;
}
header:hover li > a {
  color: #737373;
}
#mainlogo img {
  margin-right: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.3s ease;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover {
  color: #f74747 !important;
  transition: color 0.25s ease-in-out;
}
.bold {
  font-weight: bold;
}
nav {
  /* margin-bottom: 2.5rem; */
}
.nav-main > li {
  float: left;
}
.nav-main > li > a {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display:table-cell;
  padding: 14px 36px;
  vertical-align: middle;
}
body nav > ul > li {
  z-index: 0;
}
.nav-dropdown-list a{
  color: #333;
  text-decoration: none;
  margin-left: 2rem;
}
.nav-dropdown {
  margin-top: 2rem;
  position: absolute;
  display: none;
}
#whitebox {
  position: absolute;
  background-color: #fbfbfb;
  width: 100%;
  height: 0px;
  top: 100px;
  left: 0;
  transition: 0.3s ease;
}
.on {
  height: 325px !important;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

/* 메뉴 하나씩 열고싶을때 */
/* .nav-main > .nav-main-list:hover .nav-dropdown {
  display: block;
} */
/* 한 메뉴로 전체 다 열고싶을때 */
header:hover .nav-dropdown {
  display: block;
}




main {
  position:relative;
}
.mainSections {
  width: 100vw;
  height: 100vh;
}
.mainContents {
  padding-top: 6rem;
}
#sectionA {
  background-color: rgba(0, 0, 0, 0.5);
}
#sectionB {
  background-color: #333;
}
#sectionC {
  background-color: rgb(139, 139, 139);
}